<!DOCTYPE html>
<title>Upload File</title>
<h1>文件上传</h1>
<body>
<form method="POST" enctype="multipart/form-data">
     {{ form.hidden_tag() }}
     {{ form.file }}
     {% for error in form.file.errors %}
         <span style="color: red;">{{ error }}</span>
     {% endfor %}
     {{ form.submit }}
</form>
<h2>Index of /</h2>
<hr>
<pre>
{% for filename, fileurl in allfile.items() %}
    <a href="{{ fileurl }}">{{ filename }}</a>
{% endfor %}
<hr>
</pre>
<button onclick="alert('草你妈了隔壁')">文件太多，清理一下吧</button>
</body>