<!DOCTYPE html>
<title>Upload File</title>
<head>
    <link rel="stylesheet" type="text/css" href="static/css/xcConfirm.css"/>
    <script src="static/js/jquery-1.9.1.js" type="text/javascript" charset="utf-8"></script>
    <script src="static/js/xcConfirm.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
        $(function(){
            $("#btn").click(function(){
                var key=$("#key").val();
                var data={
                    data:JSON.stringify({
                        'key':key
                    }),
                }
                    $.ajax({
                        url:'/clear',
                        type:'POST',
                        data:data,
                        dataType:'html',
                        success:function (res) {
                            var txt = '文件清理成功！请刷新查看';
                            window.wxc.xcConfirm(txt, window.wxc.xcConfirm.typeEnum.success);
                        },
                        error:function(res){
                            var txt='口令错误，请不要做无谓的尝试！';
                            window.wxc.xcConfirm(txt, window.wxc.xcConfirm.typeEnum.error);
                        }
                    })
            })
        })
    </script>
</head>
<h1>文件上传</h1>
<body>
<form method="POST" enctype="multipart/form-data">
     {{ form.hidden_tag() }}
     {{ form.file }}
     {% for error in form.file.errors %}
         <span style="color: red;">{{ error }}</span>
     {% endfor %}
     {{ form.submit }}
</form>
<h2>Index of /</h2>
<hr>
<pre>
{% for filename, fileurl in allfile.items() %}
    <a href="{{ fileurl }}">{{ filename }}</a>
{% endfor %}
<hr>
</pre>
<p>清理口令：<input type="text" name="key" id="key"></p>
<button id="btn">文件太多？清理一下吧！</button><-- 这是按钮
</body>